<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CommonUtils.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>FlickrWalk.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>LocationUtils.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Networking.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC11AC2C2643D861005FB1C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC11AC422643D861005FB1C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC11AC4D2643D862005FB1C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC11AC6F2643D8A6005FB1C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC11AE0626440FE2005FB1C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC11AE0E26440FE2005FB1C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC11AE6D2644359F005FB1C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC11AE75264435A0005FB1C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
